In [2]:
from main.models import Product
from main.display import table

In [3]:
all_production = Product.objects.all()

In [5]:
df = table(all_production)

   cost name
0     8  王紫麵
1    18  真由味
2    26  湖遲屋
3    38   品嗑

   cost  id name
0     8  13  王紫麵
1    18  14  真由味
2    26  15  湖遲屋
3    38  16   品嗑